name: Build APK with Buildozer

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configurar ambiente Java e Android SDK
        run: |
          export JAVA_HOME=$JAVA_HOME_17_X64
          mkdir -p /home/runner/android/sdk
          cd /home/runner/android/sdk
          wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip
          unzip -q commandlinetools-linux-9477386_latest.zip -d /home/runner/android/sdk/
          mkdir -p /home/runner/android/sdk/cmdline-tools/latest
          mv /home/runner/android/sdk/cmdline-tools/* /home/runner/android/sdk/cmdline-tools/latest/
          yes | /home/runner/android/sdk/cmdline-tools/latest/bin/sdkmanager --licenses
          /home/runner/android/sdk/cmdline-tools/latest/bin/sdkmanager "platform-tools" "platforms;android-33" "build-tools;33.0.2" "ndk;25.2.9519653"

      - name: Instalar dependências do sistema
        run: |
          sudo apt-get update
          sudo apt-get install -y autoconf automake libtool pkg-config

      - name: Instalar Buildozer e dependências Python
        run: |
          pip install --upgrade pip setuptools wheel cython buildozer

      - name: Compilar APK com Buildozer
        run: |
          buildozer android debug
